name: 'Swift Package Manager'
description: 'Installs Swift deps'

inputs:
  cache:
    description: 'SPM cache name'
    default: 'spm-cache'
    required: false

runs:
  using: 'composite'
  steps:
    - name: Set Swift
      uses: swift-actions/setup-swift@v1
      with:
        swift-version: '5'

    - name: Cache packages
      uses: actions/cache@v3
      with:
        path: .build
        key: ${{ inputs.cache }}-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ inputs.cache }}-

    - name: Install deps and build
      shell: bash
      run: swift build --build-tests
