name: CI / Coverage

on:
  workflow_dispatch:

  pull_request:
    branches:
      - '**'
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DEPENDENCIES_CACHE: swift-cache
  NX_CACHE: nx-cache

jobs:
  coverage:
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Resolve deps and build
        uses: ./.github/workflows/composite/swift
        with:
          cache: ${{ env.DEPENDENCIES_CACHE }}

      - name: Run unit test
        run: make coverage

      - name: Send reports to Codeclimate
        if: ${{ hashFiles('coverage.lcov') }}
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: fe4577b633e287a9e1f85fcb8b722df09fff8ba9638dcb30440e2e5f7d0c3834
        with:
          coverageLocations: coverage.lcov:lcov
