name: Semantic release

on:
  push:
    branches:
      - master

env:
  DEPENDENCIES_CACHE: swift-cache

jobs:
  release:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GPR_TOKEN }}

      - name: Install deps
        uses: ./.github/workflows/composite/swift
        with:
          cache: ${{ env.DEPENDENCIES_CACHE }}

      - name: Release a new version
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GPR_TOKEN }}
